.THIS .cric-bg {
	color: rgb(255, 255, 255);
	height: 100%;
	padding: 0 1rem;
	background-image: linear-gradient(to right, #242883, #fe1e50) !important;
	width: 100%;
}

.THIS .cric-right {
	right: 0;
}

.THIS .cric-logo-header {
	font-weight: 900;
}
